{% extends 'app/main/base.html' %}
{% load static %}

{% block content %}


    <!-- Page Header section start here -->
    <div class="pageheader-section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="pageheader-content text-center">
                        <h2>So'nggi yangiliklar</h2>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Page Header section ending here -->




    <!-- blog section start here -->
    <div class="blog-section padding-tb section-bg">
        <div class="container">
            <div class="section-wrapper">
                <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 justify-content-center g-4">
                    {% for blog in blogs %}
                    	{% include 'app/main/other/blog-single-inpage.html' %}
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
    <!-- blog section ending here -->
    
    
{#    <div class="event-section padding-tb">#}
{#        <div class="container">#}
{#            <div class="section-header text-center">#}
{#                <span class="subtitle">Don’t Miss the Day</span>#}
{#                <h2 class="title">Upcomming Events</h2>#}
{#                <p class="desc">Take courses on your any device with our app & learn all time what you want. Just download & install & start to learn</p>#}
{#            </div>#}
{#            <div class="section-wrapper">#}
{#                <div class="row row-cols-lg-2 row-cols-1 g-4">#}
{#                    <div class="col">#}
{#                        <div class="event-left">#}
{#                            <div class="event-item">#}
{#                                <div class="event-inner">#}
{#                                    <div class="event-thumb">#}
{#                                        <img src="{% static 'assets/images/event/01.jpg' %}" alt="education">#}
{#                                    </div>#}
{#                                    <div class="event-content">#}
{#                                        <div class="event-date-info">#}
{#                                            <div class="edi-box">#}
{#                                                <h4>13</h4>#}
{#                                                <p>Nav 2021</p>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                        <div class="event-content-info">#}
{#                                            <a href="#"><h4>The Way of Higher Education & Its Difficulties</h4></a>#}
{#                                            <ul class="lab-ul">#}
{#                                                <li><i class="icofont-clock-time"></i> 08:30 am</li>#}
{#                                                <li><i class="icofont-google-map"></i> National Auditorium, Dhaka</li>#}
{#                                            </ul>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="col">#}
{#                        <div class="event-right">#}
{#                            <div class="event-item">#}
{#                                <div class="event-inner">#}
{#                                    <div class="event-content">#}
{#                                        <div class="event-date-info">#}
{#                                            <div class="edi-box">#}
{#                                                <h4>13</h4>#}
{#                                                <p>Nav 2021</p>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                        <div class="event-content-info">#}
{#                                            <a href="#"><h5>Convocation and Celebration 2021</h5></a>#}
{#                                            <ul class="lab-ul">#}
{#                                                <li><i class="icofont-clock-time"></i> 08:30 am</li>#}
{#                                                <li><i class="icofont-google-map"></i> National Auditorium, Dhaka</li>#}
{#                                            </ul>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="event-item">#}
{#                                <div class="event-inner">#}
{#                                    <div class="event-content">#}
{#                                        <div class="event-date-info">#}
{#                                            <div class="edi-box">#}
{#                                                <h4>13</h4>#}
{#                                                <p>Nav 2021</p>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                        <div class="event-content-info">#}
{#                                            <a href="#"><h5>Convocation and Celebration 2021</h5></a>#}
{#                                            <ul class="lab-ul">#}
{#                                                <li><i class="icofont-clock-time"></i> 08:30 am</li>#}
{#                                                <li><i class="icofont-google-map"></i> National Auditorium, Dhaka</li>#}
{#                                            </ul>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="event-item">#}
{#                                <div class="event-inner">#}
{#                                    <div class="event-content">#}
{#                                        <div class="event-date-info">#}
{#                                            <div class="edi-box">#}
{#                                                <h4>13</h4>#}
{#                                                <p>Nav 2021</p>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                        <div class="event-content-info">#}
{#                                            <a href="#"><h5>Convocation and Celebration 2021</h5></a>#}
{#                                            <ul class="lab-ul">#}
{#                                                <li><i class="icofont-clock-time"></i> 08:30 am</li>#}
{#                                                <li><i class="icofont-google-map"></i> National Auditorium, Dhaka</li>#}
{#                                            </ul>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="event-item">#}
{#                                <div class="event-inner">#}
{#                                    <div class="event-content">#}
{#                                        <div class="event-date-info">#}
{#                                            <div class="edi-box">#}
{#                                                <h4>13</h4>#}
{#                                                <p>Nav 2021</p>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                        <div class="event-content-info">#}
{#                                            <a href="#"><h5>Convocation and Celebration 2021</h5></a>#}
{#                                            <ul class="lab-ul">#}
{#                                                <li><i class="icofont-clock-time"></i> 08:30 am</li>#}
{#                                                <li><i class="icofont-google-map"></i> National Auditorium, Dhaka</li>#}
{#                                            </ul>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}




{% endblock %}
