{% extends 'app/main/base.html' %}
{% load static %}

{% block content %}


    <!-- header section start here -->
    <!-- header section ending here -->


    <!-- banner section start here -->
    {% include 'app/main/banner/banner1.html' %}
    <!-- banner section ending here -->


    <!-- category section start here -->
    {% include 'app/main/other/category.html' %}
    <!-- category section start here -->


    <!-- course section start here -->
    {% include 'app/main/other/featuredcourses.html' %}
    <!-- course section ending here -->


    <!-- abouts section start here -->
     {% include 'app/main/other/about.html' %}
    <!-- about section ending here -->


    <!-- Instructors Section Start Here -->
    {% include 'app/main/other/instructor.html' %}
    <!-- Instructors Section Ending Here -->


    <!-- blog section start here -->
    {% include 'app/main/other/blog.html' %}
    <!-- blog section ending here -->


{% endblock content %}