{% load static %}
    <!-- Banner Section Start Here -->
    <div class="banner-section style-4">
        <div class="container">
            <div class="banner-content">
                <h2><span>50+</span> Kurslar orasidan izlash</h2>
                <form method="post">
                {% csrf_token %}
                    <input type="text" name="search" placeholder="Kurs nomini yozing">
                    <button type="submit"><i class="icofont-search"></i></button>
                </form>
                <p>Barcha fanlardan kurslar mavjud</p>
                <ul class="lab-ul">
                    <li><i class="icofont-users-alt-4"></i> 1000+ Studentlar</li>
                    <li><i class="icofont-notification"></i> Har haftalik testlar</li>
                    <li><i class="icofont-globe"></i> Online ma'lumotlar</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Banner Section Ending Here -->