{% load static %}
<div class="blog-section padding-tb section-bg">
        <div class="container">
            <div class="section-header text-center">
                <span class="subtitle">So'nggi yangiliklar</span>
                <h2 class="title">Eng yangi xabarlardan boxabar bo'ling</h2>
            </div>
            <div class="section-wrapper">
                <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 justify-content-center g-4">
                    {% for blog in blogs %}
                    	<div class="col">
                        <div class="post-item">
                            <div class="post-inner">
                                <div class="post-thumb">
                                    <a href="{% url 'blog-single' blog.id %}"><img src="{{ blog.image.url }}" alt="blog thumb"></a>
                                </div>
                                <div class="post-content">
                                    <a href="{% url 'blog-single' blog.id %}"><h4>{{ blog.title }}</h4></a>
                                    <div class="meta-post">
                                        <ul class="lab-ul">
                                            <li><i class="icofont-calendar"></i>{{ blog.data }}</li>
                                        </ul>
                                    </div>
                                    <p>{{ blog.text|slice:":100" }}</p>
                                </div>
                                <div class="post-footer">
                                    <div class="pf-left">
                                        <a href="{% url 'blog-single' blog.id %}" class="lab-btn-text">Read more <i class="icofont-external-link"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>