{% load static %}
<div class="category-section padding-tb">
    <div class="container">
        <div class="section-header text-center">
            <span class="subtitle">Mashhur yo'nalishlar</span>
            <h2 class="title">O'zinggizga mos yo'nalishni tanlang</h2>
        </div>
        <div class="section-wrapper">
            <div class="row g-2 justify-content-center row-cols-xl-6 row-cols-md-3 row-cols-sm-2 row-cols-1">
                {% for category in categories %}
                    <div class="col">
                        <div class="category-item text-center">
                            <div class="category-inner">
                                <div class="category-thumb">
                                    <a href="courses/?query={{ category.id }}"><img src="{{ category.icon.url }}"
                                                                                    alt="category">
                                    </a>
                                </div>
                                <div class="category-content">
                                    <a href="courses/?query={{ category.id }}"><h6>{{ category.title }}</h6></a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>
            <div class="text-center mt-5">
                <a href="{% url 'courses' %}" class="lab-btn"><span>Barcha yo'nalishlar</span></a>
            </div>
        </div>
    </div>
</div>