{% load static %}
<div class="course-section padding-tb section-bg">
        <div class="container">
            <div class="section-header text-center">
                <span class="subtitle">Eng yangi kurslar</span>
                <h2 class="title">O'qishni boshlash uchun kurs tanlang</h2>
            </div>
            <div class="section-wrapper">
                <div class="row g-4 justify-content-center row-cols-xl-3 row-cols-md-2 row-cols-1">
                    {% for course in courses %}
                    	{% include 'app/main/other/course-single.html' %}
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>