{% load static %}
<div class="instructor-section padding-tb section-bg">
        <div class="container">
            <div class="section-header text-center">
                <span class="subtitle">Professional Mentorlar</span>
                <h2 class="title">Sizga o'z marralaringgizga erishishga yordam berishadi</h2>
            </div>
            <div class="section-wrapper">
                <div class="row g-4 justify-content-center row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xl-4">
                    {% for instructor in instructors %}
                    	<div class="col">
                        <div class="instructor-item">
                            <div class="instructor-inner">
                                <div class="instructor-thumb">
                                    <img style="height: 200px; width:200px; object-fit: cover " src="{{ instructor.image.url }}" alt="instructor">
                                </div>
                                <div class="instructor-content">
                                    <a href="team-single.html"><h4>{{ instructor.name }}</h4></a>
                                    <p>{{ instructor.bio|slice:":100" }}...</p>
                                </div>
                            </div>
                            <div class="instructor-footer">
                                <ul class="lab-ul d-flex flex-wrap justify-content-between align-items-center">
                                    <li><i class="icofont-book-alt"></i> <a href="{% url 'team-single' instructor.id %}">Ko'proq</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>